{% extends 'base.html' %}
{% block content %}
<section>
    <div class="text-content">
        <h1>About Our Service:</h1>
        <p>
            Have you ever felt the need to find a tutor, but didn't know where to start? 
            If so, then Tutorl is your one stop shop for passing class!
        </p>
    </div>
    <div class="nav-grid">
        <a href="/tutors" >Find a Tutor</a>
        <a href="/register_tutor" >Register as Tutor</a>
        <a href="/coming_soon" >Free Courses</a>
        <a href="/coming_soon" >Directory</a>
    </div>
</section>
{% endblock %}